//
// Section NavBar Reverse
// --------------------------------------------------

// Variable
// --------------------------------------------------
$nav--navbar-reverse-border--color: rgba($var-color-blue-6d8cac, 0.2) !default;

// Mixin
// --------------------------------------------------

// Making
// --------------------------------------------------

.nav--navbar-reverse {
  line-height: rem(22px);
  border-bottom: 1px solid $nav--navbar-reverse-border--color;
  .btn-back {
    font-size: rem(14px);
    font-weight: $CONST-FONT-WEIGHT-LIGHT;

    + [aria-label="breadcrumb"] {
      position: absolute;
      right: 0;
    }

    .mpi {
      font-weight: $CONST-FONT-WEIGHT-BLACK;
    }

    @include a-text-decoration;
  }

  .breadcrumb {
    font-size: rem(12px);
  }

}