.section--map-search {
  .section-header {
    margin-top: rem(80px);
  }

  .h2-title {
    display: block;
    font-size: rem(38px);
    font-weight: $CONST-FONT-WEIGHT-LIGHT;
    line-height: rem(40px);
    margin-right: rem(40px);

    strong {
      font-weight: $CONST-FONT-WEIGHT-REGULAR;
    }
  }

  .sub-title {
    color: $var-color-blue-6d8cac;
    font-size: rem(20px);
    font-weight: $CONST-FONT-WEIGHT-LIGHT;
    line-height: rem(24px);
    margin: rem(20px) 0;
  }

  input.form-text {
    @include form-text;
    height: rem(56px);
  }
  .map-container {
    .map {
      width: 100%;
      height: 590px;
      overflow: hidden;
    }
  }

}

@include media-breakpoint-down(sm) {
  .section--map-search {

    .h2-title {
      text-align: center;
      margin: 0;
    }

    .sub-title {
      text-align: center;
    }

    .col {
      display: block;
      flex-basis: initial;
      flex-grow: initial;
    }

    .section-header {
      margin-top: rem($CONST-BASE-UNIT-5 * 12);
    }

    img {
      max-width: 100%;
    }

    .map-container {
      display: none;
    }
  }

}

/** section--map-search **/

