.section--result-search {
  padding: rem($CONST-BASE-UNIT * 6) 0;

  .section-header {
    padding-bottom: rem($CONST-BASE-UNIT * 2);
  }

  ul li {
    font-weight: $CONST-FONT-WEIGHT-LIGHT;
    line-height: rem(27px);
  }

  @include agency_address;

  &.section--result-search--agency {
    .section-body {
      .container {
        &>.list-result{
          background-color: $var-color-blue-f6faff;
          padding-top: rem($CONST-BASE-UNIT * 4);
        }
      }
    }

    .item-result {
      margin-bottom: rem($CONST-BASE-UNIT * 6);
    }
  }

  &.section--result-search--agency-min {
    .h3.title {
      font-weight: $CONST-FONT-WEIGHT-LIGHT;
    }
  }

/*
 *
 * Breakpoints
 *
 **/

@include media-breakpoint-down(sm){
    .row>.list-unstyled.list-result {
      margin: 0;
      padding: 0;
    }

    .section-header{
      padding-left: rem($CONST-BASE-UNIT-5 * 3);
      padding-right: rem($CONST-BASE-UNIT-5 * 3);
    }
    .h2.h2-title-light {
        display: block;
    }
  }

} /** section--result-search **/