//
// Section Body
// --------------------------------------------------

// Variable
// --------------------------------------------------

// Mixin
// --------------------------------------------------

// Making
// --------------------------------------------------
.section--opening-time {
  .table,
  .office-hours__table {
    font-weight: $CONST-FONT-WEIGHT-LIGHT;
    width: 75%;

    th,
    .office-hours__item-label {
      font-weight: $CONST-FONT-WEIGHT-REGULAR;
      text-align: right;
    }

    td,
    .office-hours__item-slots,
    .office-hours__item-comments {
      padding-left: $CONST-BASE-UNIT * 2;
      padding-right: $CONST-BASE-UNIT * 2;
    }

  }
}

@include media-breakpoint-down(sm) {
  .section--opening-time {
    .table,
    .office-hours__table {
      width: 100%;

      td,
      .office-hours__item-slots,
      .office-hours__item-comments {
        padding-left: $CONST-BASE-UNIT;
        padding-right: $CONST-BASE-UNIT;
      }
    }

  }
}