.section--carousel-announcement {
  background-color: $var-color-blue-f6faff;
  padding: rem($CONST-BASE-UNIT-5 * 12) 0;

  .section-header {
    margin-bottom: rem($CONST-BASE-UNIT);
    line-height: rem(40px);

    .h2 {
      &.title {
        font-size: rem(28px);
        font-weight: $CONST-FONT-WEIGHT-LIGHT;
        margin: 0;
      }
    }

    .section-header-aside {
      font-weight: $CONST-FONT-WEIGHT-BOLD;
      font-size: rem(18px);

      .value {
        font-size: rem(28px);
      }
    }
  }

  .section-footer {
    margin-top: rem($CONST-BASE-UNIT * 4);
  }

  .slick {
    .slick-arrow {
      width: initial;
      position: absolute;
      bottom: rem(40px);

      &:after {
        width: rem(24px);
        height: rem(44px);
        background-image: url(images/icon-arrow-left-blue.svg,base64);
        margin-top: rem(-22px);
      }

      &.slick-prev {
        background: transparent;
        left: rem(-$CONST-BASE-UNIT * 6);
        &:after {
          left: 0;
          margin-left: 0;
        }
      }

      &.slick-next {
        background: transparent;
        right: rem(-$CONST-BASE-UNIT * 6);
        &:after {
          right: 0;
          margin-right: 0;
        }

      }
    }

    .slick-dots {
      margin-top: rem($CONST-BASE-UNIT * 4);
      position: relative;

      li {
        background-color: $var-color-blue-light;
        &.slick-active {
          background-color: transparent;
          border: 1px solid $var-color-blue-light;
        }
      }
    }
  }

  .slick-item {
    padding: rem($CONST-BASE-UNIT / 2);

  }
}

@include media-breakpoint-down(sm) {
  .section--carousel-announcement {
    .section-header {
      .justify-content-between {
        flex-direction: column;
        text-align: center;
      }
    }
    .col-12 {
      margin: 0;
      padding: 0;
    }
    .slick {
      .slick-arrow {
        display: none !important;
      }
    }
  }

}