//
// Util Typography
// --------------------------------------------------

// Variable
// --------------------------------------------------

// Mixin
// --------------------------------------------------
@mixin agency_address {
  .h3 {
    &.title {
      font-size: rem(16px);
      font-weight: $CONST-FONT-WEIGHT-BOLD;
      line-height: rem(19px);
    }
  }

  .address {
    font-weight: $CONST-FONT-WEIGHT-REGULAR;
  }

  .phone {
    color: $var-color-blue-light;
    font-weight: $CONST-FONT-WEIGHT-REGULAR;
  }

  .link-route {
    color: $var-color-blue-light;
    font-size: rem(14px);
    font-weight: $CONST-FONT-WEIGHT-REGULAR;

    .mpi {
      font-weight: $CONST-FONT-WEIGHT-BOLD;
    }
  }
}

// Making
// --------------------------------------------------
.agency {
  @include agency_address;
}