.pagination {
  display: flex;
  @include list-unstyled();
  @include border-radius();
  font-weight: $CONST-FONT-WEIGHT-BOLD;
}

.page-link {
  @include border-radius(50%);
  height: rem(32px);
  width: rem(32px);
}

.page-item {
  height: rem(32px);
  margin: 0 rem(2px);
  text-align: center;
  width: rem(32px);

  &.page-item-dots {
    .page-link {
      &:hover {
        border-color: transparent;
      }
    }
  }

  &:first-child,
  &.page-item-prev {
    .page-link {
      @include border-radius(50%);
      border-color: $pagination-active-border-color;
    }
  }
  &:last-child,
  &.page-item-next {
    .page-link {
      @include border-radius(50%);
      border-color: $pagination-active-border-color;
    }
  }

}
