<nav class="navbar navbar-expand-md header-navbar">
    <div class="navbar-collapse offcanvas-collapse" id="navigation">
      <ul class="navbar-nav m-auto navbar-primary">
        <li class="nav-item">
          <a class="nav-link" href="#">Mon abonnement</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Mes newsletters</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Le journal numérique</a>
        </li>
      </ul>
    </div>
  </nav>