//
// Util Margin
// --------------------------------------------------

// Variable
// --------------------------------------------------
$mp-icon-css-prefix: mpi !default;

// Mixin
// --------------------------------------------------

@mixin generate-icon-font-size($n, $j:6) {
  @if $j <= $n {

    @for $i from $j through $n {

      $size: $i;
      $iclass: "";
      @if $i != -1 {
        $iclass: -#{$i};
      }

      .#{$mp-icon-css-prefix}.#{$mp-icon-css-prefix}#{$iclass}x {
        font-size: #{$size}px;
      }

    }
  }
}

@mixin mp-icon-rotate($degrees, $rotation) {
  &:before {
    display: inline-block;
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=#{$rotation})";
    transform: rotate($degrees);
  }
}

@mixin mp-icon-flip($horiz, $vert, $rotation) {
  &:before {
    display: inline-block;
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=#{$rotation}, mirror=1)";
    transform: scale($horiz, $vert);
  }
}

@mixin generate-icon-font-color() {
  @each $color, $value in $theme-colors {
    .#{$mp-icon-css-prefix}-color--#{$color} {
      &:before {
        color: #{$value};
      }
    }
  }
}

// Making
// --------------------------------------------------
@font-face {
  font-family: 'MaisonPhenix';
  src: url('../fonts/maisonphenix/maisonphenix.eot?5pshpm');
  src: url('../fonts/maisonphenix/maisonphenix.eot?5pshpm#iefix') format('embedded-opentype'),
  url('../fonts/maisonphenix/maisonphenix.ttf?5pshpm') format('truetype'),
  url('../fonts/maisonphenix/maisonphenix.woff?5pshpm') format('woff'),
  url('../fonts/maisonphenix/maisonphenix.svg?5pshpm#maisonphenix') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="#{$mp-icon-css-prefix}"], [class*=" #{$mp-icon-css-prefix}"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'maisonphenix' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.#{$mp-icon-css-prefix}-taux-zero:before {
  content: "\e920";
}

.#{$mp-icon-css-prefix}-menu-burger:before {
  content: "\e91f";
}

.#{$mp-icon-css-prefix}-agency-marker:before {
  content: "\e91d";
}

.#{$mp-icon-css-prefix}-meeting:before {
  content: "\e91e";
}

.#{$mp-icon-css-prefix}-badge:before {
  content: "\e900";
}

.#{$mp-icon-css-prefix}-bath:before {
  content: "\e901";
}

.#{$mp-icon-css-prefix}-bed:before {
  content: "\e902";
}

.#{$mp-icon-css-prefix}-bell:before {
  content: "\e903";
}

.#{$mp-icon-css-prefix}-building:before {
  content: "\e904";
}

.#{$mp-icon-css-prefix}-calculator:before {
  content: "\e905";
}

.#{$mp-icon-css-prefix}-calendar-alt:before {
  content: "\e906";
}

.#{$mp-icon-css-prefix}-calendar:before {
  content: "\e907";
}

.#{$mp-icon-css-prefix}-camera:before {
  content: "\e908";
}

.#{$mp-icon-css-prefix}-check:before {
  content: "\e909";
}

.#{$mp-icon-css-prefix}-chevron-left:before {
  content: "\e90a";
}

.#{$mp-icon-css-prefix}-chevron-right:before {
  content: "\e90b";
}

.#{$mp-icon-css-prefix}-comment-rows:before {
  content: "\e90c";
}

.#{$mp-icon-css-prefix}-dollar-sign-circle:before {
  content: "\e90d";
}

.#{$mp-icon-css-prefix}-euro-sign:before {
  content: "\e90e";
}

.#{$mp-icon-css-prefix}-facebook:before {
  content: "\e90f";
}

.#{$mp-icon-css-prefix}-favicon:before {
  content: "\e910";
}

.#{$mp-icon-css-prefix}-file-download:before {
  content: "\e911";
}

.#{$mp-icon-css-prefix}-file:before {
  content: "\e912";
}

.#{$mp-icon-css-prefix}-garage:before {
  content: "\e913";
}

.#{$mp-icon-css-prefix}-googleplus:before {
  content: "\e914";
}

.#{$mp-icon-css-prefix}-graduation-cap:before {
  content: "\e915";
}

.#{$mp-icon-css-prefix}-home:before {
  content: "\e916";
}

.#{$mp-icon-css-prefix}-house-2:before {
  content: "\e917";
}

.#{$mp-icon-css-prefix}-house-land:before {
  content: "\e918";
}

.#{$mp-icon-css-prefix}-house:before {
  content: "\e919";
}

.#{$mp-icon-css-prefix}-land:before {
  content: "\e91a";
}

.#{$mp-icon-css-prefix}-libkedin:before {
  content: "\e91b";
}

.#{$mp-icon-css-prefix}-location-arrow:before {
  content: "\e91c";
}

.#{$mp-icon-css-prefix}-location:before {
  content: "\e923";
}

.#{$mp-icon-css-prefix}-loft:before {
  content: "\e924";
}

.#{$mp-icon-css-prefix}-long-arrow-left:before {
  content: "\e925";
}

.#{$mp-icon-css-prefix}-maisonphenix-dark:before {
  content: "\e926";
}

.#{$mp-icon-css-prefix}-map-marker:before {
  content: "\e927";
}

.#{$mp-icon-css-prefix}-map:before {
  content: "\e928";
}

.#{$mp-icon-css-prefix}-paint-roller:before {
  content: "\e929";
}

.#{$mp-icon-css-prefix}-phone:before {
  content: "\e92a";
}

.#{$mp-icon-css-prefix}-plan:before {
  content: "\e92b";
}

.#{$mp-icon-css-prefix}-question-circle:before {
  content: "\e92c";
}

.#{$mp-icon-css-prefix}-search:before {
  content: "\e92d";
}

.#{$mp-icon-css-prefix}-shape:before {
  content: "\e92e";
}

.#{$mp-icon-css-prefix}-share-square:before {
  content: "\e92f";
}

.#{$mp-icon-css-prefix}-shopping:before {
  content: "\e930";
}

.#{$mp-icon-css-prefix}-simulateur:before {
  content: "\e931";
}

.#{$mp-icon-css-prefix}-sliders-h:before {
  content: "\e932";
}

.#{$mp-icon-css-prefix}-superficie:before {
  content: "\e933";
}

.#{$mp-icon-css-prefix}-times:before {
  content: "\e934";
}

.#{$mp-icon-css-prefix}-toilet:before {
  content: "\e935";
}

.#{$mp-icon-css-prefix}-train:before {
  content: "\e936";
}

.#{$mp-icon-css-prefix}-twitter:before {
  content: "\e937";
}

.#{$mp-icon-css-prefix}-user:before {
  content: "\e938";
}

// Icon Sizes
// -------------------------
@include generate-icon-font-size(50);

// Icon Clolor
// -------------------------
@include generate-icon-font-color;

// Rotated & Flipped Icons
// -------------------------

.#{$mp-icon-css-prefix}-rotate-90 {
  @include mp-icon-rotate(90deg, 1);
}

.#{$mp-icon-css-prefix}-rotate-180 {
  @include mp-icon-rotate(180deg, 2);
}

.#{$mp-icon-css-prefix}-rotate-270 {
  @include mp-icon-rotate(270deg, 3);
}

.#{$mp-icon-css-prefix}-flip-horizontal {
  @include mp-icon-flip(-1, 1, 0);
}

.#{$mp-icon-css-prefix}-flip-vertical {
  @include mp-icon-flip(1, -1, 2);
}

.#{$mp-icon-css-prefix}-flip-horizontal.#{$mp-icon-css-prefix}-flip-vertical {
  @include mp-icon-flip(-1, -1, 2);
}

// Hook for IE8-9
// -------------------------

:root {
  .#{$mp-icon-css-prefix}-rotate-90,
  .#{$mp-icon-css-prefix}-rotate-180,
  .#{$mp-icon-css-prefix}-rotate-270,
  .#{$mp-icon-css-prefix}-flip-horizontal,
  .#{$mp-icon-css-prefix}-flip-vertical {
    filter: none;
  }
}
