// Modal Optin
// --------------------------------------------------

// Variable
// --------------------------------------------------

// Mixin
// --------------------------------------------------

// Making
// --------------------------------------------------

.modal--contact-us {
  .aside--reminded {
    .card {
      box-shadow: none;
    }

    .card-body {
      border: 0;
      padding: 0;
    }
  }
}