// Modal Optin
// --------------------------------------------------

// Variable
// --------------------------------------------------

// Mixin
// --------------------------------------------------

// Making
// --------------------------------------------------
.modal-header {
  border-bottom: 0;
  display: flex;
  align-items: center;

  .close {
    color: $blue;
  }
}

.modal-title {
  font-size: rem(28px);
  font-weight: $CONST-FONT-WEIGHT-LIGHT;
}