//
// Widget History
// --------------------------------------------------

// Variable
// --------------------------------------------------
$card-history--border-left--color: $var-color-d1dde9 !default;
$card-history--ship--background-color: $var-color-blue-light !default;
// Mixin
// --------------------------------------------------

// Making
// --------------------------------------------------

.card-history {
  border: 0;
  border-left: 1px solid $card-history--border-left--color;
  border-radius: 0;

  .card-body {
    margin-bottom: rem(70px);
    margin-top: rem(-30px);
    padding-bottom: 0;
    padding-top: 0;
  }

  .chip {
    background-color: $card-history--ship--background-color;
    border-radius: 50%;
    display: block;
    left: -5px;
    height: 11px;
    position: absolute;
    top: -10px;
    width: 11px;
  }

  .card-date {
    font-size: rem(17px);
    font-weight: $CONST-FONT-WEIGHT-LIGHT;

    .date {
      font-size: rem(37px);
    }
  }

  .card-title {
    font-size: rem(30px);
    color: $var-color-blue-light;
  }

  .card-img {
    margin-bottom: rem(10px);
  }
}
