.gm-style .gm-style-iw {
  > div {
    padding-right: 30px;
  }

  .loc-title {
    font-size: rem(14px);
    font-weight: $CONST-FONT-WEIGHT-BOLD;
    line-height: rem(17px);
    margin-bottom: rem(10px);
  }

  .loc-adresse,
  .loc-postalcode,
  .loc-city {
    font-size: rem(14px);
    font-weight: $CONST-FONT-WEIGHT-REGULAR;
    line-height: rem(17px);
  }

  .loc-link a {
    font-size: rem(14px);
    font-weight: $CONST-FONT-WEIGHT-BOLD;
    line-height: rem(23px);
    padding: rem(10px) rem(20px);
    background-color: $green;
  }
}
