//
// Widget Loader
// --------------------------------------------------

// Variable
// --------------------------------------------------
$offcanvas-top: 0; //rem(92px + 1px);  /* Height of navbar */

// Mixin
// --------------------------------------------------

// Making
// --------------------------------------------------
@include media-breakpoint-down(xs) {
  .offcanvas-collapse {
    background-color: var(--white);
    bottom: 0;
    position: fixed;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 10rem;
    overflow-y: auto;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
    top: $offcanvas-top; /* Height of navbar */
    width: 100%;
  }

  .offcanvas-collapse.open {
    -webkit-transform: translateX(0);
    transform: translateX(0); /* Account for horizontal padding on navbar */
  }
}

.nav-scroller {
  height: 2.75rem;
  position: relative;
  overflow-y: hidden;
  z-index: 2;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
  color: var(--secondary);
}

.nav-underline .nav-link:hover {
  color: var(--blue);
}

.nav-underline .active {
  font-weight: 500;
  color: var(--gray-dark);
}

.text-white-50 {
  color: rgba(255, 255, 255, 0.5);
}

.bg-purple {
  background-color: var(--purple);
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}

.lh-100 {
  line-height: 1;
}

.lh-125 {
  line-height: 1.25;
}

.lh-150 {
  line-height: 1.5;
}
