<!doctype html>
<html class="no-js" lang="fr">
<head>
    <!-- @@include= ./../extends/head.tpl.html {} -->
</head>
<!-- add Class fixed-header-navbar to fix header navbar -->
<body class=" <!-- @@var bodyClass -->">
<!--[if lt IE 10]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<!-- @@include= ./../extends/header.tpl.html {} -->

<main class="main">
<!-- @@placeholder= main -->
</main>

<!-- @@include= ./../extends/footer.tpl.html {} -->
</body>
</html>
