//
// Page Home
// --------------------------------------------------

// Variable
// --------------------------------------------------

// Mixin
// --------------------------------------------------

// Making
// --------------------------------------------------

.page--static {
  margin-top: rem(70px);

  p,
  .p,
  .paragraph {
    font-weight: $CONST-FONT-WEIGHT-LIGHT;
    line-height: rem(28px);
  }

  .sup-title {
    margin-bottom: rem(20px);
  }

  .title {
    &.title-48,
    &.title-26 {
      margin-bottom: rem(20px);
    }
  }

  .sub-title {
    margin-bottom: rem(20px);
  }

  .list--numbers {
    .value {
      color: $var-color-blue-light;
      font-size: rem(66px);
      font-weight: $CONST-FONT-WEIGHT-LIGHT;
      line-height: rem(79px);

      sub {
        bottom: 0;
        font-size: rem(46px);
      }
    }

    .label {
      font-size: rem(16px);
      font-weight: $CONST-FONT-WEIGHT-LIGHT;
      line-height: rem(22px);
    }

  }

  .list--history {
    margin-bottom: rem(70px);
    margin-top: rem(70px);

    .history-item:last-child {
      .card-history {
        .card-body {
          margin-bottom: 0;
        }
      }
    }
  }

  .list--static-paragraph {
    margin-bottom: rem(70px);
  }
}

@include media-breakpoint-down(sm) {
  .page--static {

    .sub-title {
      font-size: rem(24px);
    }

    .list--numbers {
      text-align: center;

      .value {
        font-size: rem(52px);
        line-height: rem(62px);

        sub {
          font-size: rem(32px);
        }
      }

      .label {
        font-size: rem(14px);
        line-height: rem(17px);
        text-align: center;
      }

    }
  }
}
