// Copyright Reserved xxx
// --------------------------------------------------

//
// Legend
// --------------------------------------------------

/**
  kt    : Kite Trends
  ktv   : Kite Trends Variable
 */

//
// Summary
// --------------------------------------------------

/**
  [1. CONST]
  [2. Variables]
*/

//
// [1.] CONST
// --------------------------------------------------
$CONST-NAMESPACE: "kt" !default;
$CONST-AUTO-GENERATE: false !default;
$CONST-ING-URL: "../img" !default;
$CONST-ASSETS-URL: "../../assets" !default;
$CONST-NBSP: "\00a0";

// Const Shade
$CONST-SHADE-light: 16% !default;
$CONST-SHADE-lighter: 9.5% !default;
$CONST-SHADE-lightest: 3% !default;

// Const Darker Percent
$CONST-SHADE-dark: 45% !default;
$CONST-SHADE-darker: 27% !default;
$CONST-SHADE-darkest: 18% !default;

// Const Shade
$CONST-MIX-light: 80% !default;
$CONST-MIX-lighter: 60% !default;
$CONST-MIX-lightest: 20% !default;

// Const Darker Percent
$CONST-MIX-dark: 80% !default;
$CONST-MIX-darker: 60% !default;
$CONST-MIX-darkest: 20% !default;

// Const Font
$CONST-FONT: 'Roboto', sans-serif !default;
$CONST-FONT-ICONS: 'MaisonPhenix' !default;
$CONST-FONT-ROBOTO: 'Roboto', sans-serif;

// Const Font Weight
// --------------------------------------------------
$CONST-FONT-WEIGHT-THIN: 100;
$CONST-FONT-WEIGHT-EXTRA-LIGHT: 200;
$CONST-FONT-WEIGHT-LIGHT: 300;
$CONST-FONT-WEIGHT-REGULAR: 400;
$CONST-FONT-WEIGHT-MEDIUM: 500;
$CONST-FONT-WEIGHT-SEMI-BOLD: 600;
$CONST-FONT-WEIGHT-BOLD: 700;
$CONST-FONT-WEIGHT-EXTRA-BOLD: 800;
$CONST-FONT-WEIGHT-BLACK: 900;

// Const Base Unit
// --------------------------------------------------
$CONST-BASE-UNIT: 8px !default;
$CONST-BASE-UNIT-5: 5px !default;

//
// [2.] Variables
// --------------------------------------------------
// Base
// --------------------------------------------------
$var-prefix-class: #{$CONST-NAMESPACE}- !default;
$var-transition: all 0.1s linear 0s !default;
$var-link-transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.2s linear 0s, width 0.2s linear 0s, padding 0.2s linear 0s, box-shadow 0.2s linear 0s !default;

// Color
// --------------------------------------------------
$var-color-blue-light: #005cb2;
$var-color-blue-005cb2: #005cb2;
$var-color-blue-lighter: #dde8f3;
$var-color-blue-dde8f3: #dde8f3;
$var-color-blue-lightest: #eef7ff;
$var-color-blue-eef7ff: #eef7ff;
$var-color-blue-f6faff: #f6faff;
$var-color-light-steel-blue: #6d8cac;
$var-color-blue-6d8cac: #6d8cac;
$var-color-pink-dark: #d91275;
$var-color-orange-dark: #b27300;
$var-color-orange-C69946: #C69946;
$var-color-blue-123f5c: #123f5c;
$var-color-d1dde9:  #d1dde9;

// Const Darker Percent
//$CONST-SHADE-dark: 45% !default;
//$CONST-SHADE-darker: 27% !default;
//$CONST-SHADE-darkest: 18% !default;

// Rem
// --------------------------------------------------
$var-rem-baseline: 16px !default;
$var-rem-fallback: false !default;
$var-rem-px-only: false !default;

// Header
// --------------------------------------------------
$var-header-height: $CONST-BASE-UNIT*8 !default; // 8*8 = 64px

// SideBar
// --------------------------------------------------
$var-sidebar-width: $CONST-BASE-UNIT*35 !default; // 8*35 = 280px
$var-sidebar-width--pin: $CONST-BASE-UNIT*33 !default; // 8*38 = 304px
$var-sidebar-offset: $CONST-BASE-UNIT*9 !default; // 8*9 = 72px

// Secondary SideBar
// --------------------------------------------------
$var-secondary-sidebar-width: $CONST-BASE-UNIT*31 !default; // 8*31 = 248px

// Z-index Scale
// --------------------------------------------------
$var-zIndex-1: 100 !default;
$var-zIndex-2: 200 !default;
$var-zIndex-3: 300 !default;
$var-zIndex-4: 400 !default;
$var-zIndex-5: 500 !default;
$var-zIndex-6: 600 !default;
$var-zIndex-7: 700 !default;
$var-zIndex-8: 800 !default;
$var-zIndex-9: 900 !default;
$var-zIndex-10: 1000 !default;

// Z-index widget
// --------------------------------------------------
$var-zIndex-sidebar: $var-zIndex-10 !default;
$var-zIndex-tooltips: $var-zIndex-10 !default;
$var-zIndex-notifications: $var-zIndex-9 !default;
$var-zIndex-navbar: $var-zIndex-8 !default;
$var-zIndex-dropdown: $var-zIndex-7 !default;
$var-zIndex-dropdownMask: $var-zIndex-6 !default;
$var-zIndex-portlet: $var-zIndex-6 !default;
$var-zIndex-topUserProfile: $var-zIndex-10 !default;

// Hero Section
// --------------------------------------------------
$var-hero-section-transition: height 0.2s linear 0s, box-shadow 0.2s linear 0s, padding 0.2s linear 0s, !default;

// Horizontal Menu
// --------------------------------------------------
$var-horizontal-menu-transition: height 0.1s linear 0s, box-shadow 0.2s linear 0s, padding 0.2s linear 0s, !default;

$hamburger-layer-width: 20px;
$hamburger-layer-height: 1px;
$hamburger-layer-spacing: 5px;

// Header
// --------------------------------------------------
$var-header--navbar--height: 92px !default;

// Section Annonce Detail
// --------------------------------------------------
$var-section--navbar-quickaccess--height: $CONST-BASE-UNIT * 8 !default;