//
// Util Function
// --------------------------------------------------

// Variable
// --------------------------------------------------

// Mixin
// --------------------------------------------------

// Making
// --------------------------------------------------
.btn {
  font-size: rem(15px);
  line-height: rem(30px);

  &.btn-lg {
    font-size: rem(16px);
    line-height: rem(38px);
  }

  &.btn-sm {
    font-size: rem(12px);
    line-height: rem(16px);
  }
}