//
// Util Typography
// --------------------------------------------------

// Variable
// --------------------------------------------------
$h2-subtitle-orange-color: $var-color-orange-C69946;
$h2-subtitle-pink-color: $var-color-pink-dark;

// Mixin
// --------------------------------------------------
@mixin h1-title {
  color: $primary;
  font-size: rem(38px);
  font-weight: $CONST-FONT-WEIGHT-REGULAR;
  line-height: rem(40px);

  .light {
    font-weight: $CONST-FONT-WEIGHT-LIGHT;
  }

  strong,
  .bold {
    font-weight: $CONST-FONT-WEIGHT-BOLD;
  }

  sup {
    font-size: rem(20px);
    position: relative;
    top: -14px;
  }

  @include media-breakpoint-down(sm) {
    font-size: rem(30px);
    sup {
      font-size: rem(16px);
      top: -12px;
    }
  }
}

@mixin title-48 {
  color: $primary;
  font-size: rem(48px);
  font-weight: $CONST-FONT-WEIGHT-REGULAR;
  line-height: rem(54px);

  .light {
    font-weight: $CONST-FONT-WEIGHT-LIGHT;
  }

  strong,
  .bold {
    font-weight: $CONST-FONT-WEIGHT-BOLD;
  }

  // ToDO
  // sup is not defined in sketch
  sup {
    font-size: rem(20px);
    position: relative;
    top: -14px;
  }

  @include media-breakpoint-down(sm) {
    font-size: rem(40px);
    line-height: rem(50px);

    // ToDO
    // sup is not defined in sketch
    sup {
      font-size: rem(16px);
      top: -12px;
    }
  }
}

@mixin title-38 {
  color: $primary;
  font-size: rem(38px);
  font-weight: $CONST-FONT-WEIGHT-REGULAR;
  line-height: rem(40px);

  .light {
    font-weight: $CONST-FONT-WEIGHT-LIGHT;
  }

  strong,
  .bold {
    font-weight: $CONST-FONT-WEIGHT-BOLD;
  }

  // ToDO
  // sup is not defined in sketch
  sup {
    font-size: rem(20px);
    position: relative;
    top: -14px;
  }

  @include media-breakpoint-down(sm) {
    font-size: rem(30px);

    // ToDO
    // sup is not defined in sketch
    sup {
      font-size: rem(16px);
      top: -12px;
    }
  }
}

@mixin title-26 {
  color: $primary;
  font-size: rem(26px);
  font-weight: $CONST-FONT-WEIGHT-REGULAR;
  line-height: rem(28px);

  .light {
    font-weight: $CONST-FONT-WEIGHT-LIGHT;
  }

  strong,
  .bold {
    font-weight: $CONST-FONT-WEIGHT-BOLD;
  }

  // ToDO
  // sup is not defined in sketch
  sup {
    font-size: rem(12px);
    position: relative;
    top: -12px;
  }

  @include media-breakpoint-down(sm) {
    font-size: rem(26px);
    line-height: rem(28px);

    // ToDO
    // sup is not defined in sketch
    sup {
      font-size: rem(12px);
      top: -12px;
    }
  }
}

@mixin h2-title {
  align-items: center;
  color: $primary;
  display: flex;
  font-size: rem(24px);
  font-weight: $CONST-FONT-WEIGHT-REGULAR;
  margin: 0;

  .mpi {
    margin-right: $CONST-BASE-UNIT;
  }

  strong,
  .bold {
    font-weight: $CONST-FONT-WEIGHT-BOLD;
  }

  @include media-breakpoint-down(sm) {
    font-size: rem(24px);
  }
}

@mixin h2-title-light {
  align-items: center;
  color: $primary;
  display: flex;
  line-height: rem(40px);
  font-size: rem(28px);
  font-weight: $CONST-FONT-WEIGHT-LIGHT;

  strong,
  .bold {
    font-weight: $CONST-FONT-WEIGHT-REGULAR;
  }
}

@mixin h2-subtitle-orange {
  align-items: center;
  color: $h2-subtitle-orange-color;
  display: flex;
  line-height: rem(15px);
  font-size: rem(12px);
  font-weight: $CONST-FONT-WEIGHT-BOLD;
}

@mixin h2-subtitle-pink {
  align-items: center;
  color: $h2-subtitle-pink-color;
  display: flex;
  line-height: rem(15px);
  font-size: rem(12px);
  font-weight: $CONST-FONT-WEIGHT-BOLD;
}

// Making
// --------------------------------------------------
.h1-title,
.title--style-1 {
  @include h1-title;
}

.title-48 {
  @include title-48;
}

.title-38 {
  @include title-38;
}

.title-26 {
  @include title-26;
}

.h2-title,
.title--style-2 {
  @include h2-title;
}

.h2-title-light,
.title--style-3 {
  @include h2-title-light;
}

.sub-title-orange {
  @include h2-subtitle-orange;
}

.sub-title-pink {
  @include h2-subtitle-pink;
}